<a href="https://colab.research.google.com/github/m-haghighi/Amazon-dataset/blob/main/BigDataManagementg_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python -m pip install "dask[complete]"

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

root_dir = "/content/gdrive/My Drive/amazon"

Mounted at /content/gdrive

In [ ]:
import dask
import dask.dataframe as dd

In [ ]:
dask_df_VideoGames = dd.read_csv(root_dir+'/Video_Games.csv')
dask_df_VideoGames.columns=['Item','User','Rating','Timestamp']
dask_df_VideoGames['VideoGames']=1
dask_df_VideoGames=dask_df_VideoGames.drop(columns=['Item','Rating','Timestamp'])
dask_df_VideoGames=dask_df_VideoGames.drop_duplicates(subset = ["User"])
dask_df_VideoGames.head()

             User  VideoGames
0  A3TNZ2Q5E7HTHD           1
1  A1OKRM3QFEATQO           1
2  A2XO1JFCNEYV3T           1
3  A19WLPIRHD15TH           1
4  A1TLA7XXSZMTS7           1

In [ ]:
dask_df_ToysandGames = dd.read_csv(root_dir+'/Toys_and_Games.csv')
dask_df_ToysandGames.columns=['Item','User','Rating','Timestamp']
dask_df_ToysandGames['ToysandGames']=1
dask_df_ToysandGames=dask_df_ToysandGames.drop(columns=['Item','Rating','Timestamp'])
dask_df_ToysandGames=dask_df_ToysandGames.drop_duplicates(subset = ["User"])
dask_df_ToysandGames.head()

             User  ToysandGames
0   A4BCEVVZ4Y3V3             1
1  A2EZ9PY1IHHBX0             1
2  A139PXTTC2LGHZ             1
3  A3IB33V29XIL8O             1
4  A1J86V48S4KRJE             1

In [ ]:
dask_df_ToolsandHomeImprovement = dd.read_csv(root_dir+'/Tools_and_Home_Improvement.csv')
dask_df_ToolsandHomeImprovement.columns=['Item','User','Rating','Timestamp']
dask_df_ToolsandHomeImprovement['ToolsandHomeImprovement']=1
dask_df_ToolsandHomeImprovement=dask_df_ToolsandHomeImprovement.drop(columns=['Item','Rating','Timestamp'])
dask_df_ToolsandHomeImprovement=dask_df_ToolsandHomeImprovement.drop_duplicates(subset = ["User"])
dask_df_ToolsandHomeImprovement.head()

             User  ToolsandHomeImprovement
0   AXPZYN4FP89L9                        1
1   AOCT8ZWCRWLRE                        1
2  A1UUD54HPAQZ2G                        1
3  A2YHHBBJVTVD79                        1
4  A210F363QMIJNB                        1

In [ ]:
dask_df_Digital_Music = dd.read_csv(root_dir+'/Digital_Music.csv')
dask_df_Digital_Music.columns=['Item','User','Rating','Timestamp']
dask_df_Digital_Music['Digital_Music']=1
dask_df_Digital_Music=dask_df_Digital_Music.drop(columns=['Item','Rating','Timestamp'])
dask_df_Digital_Music=dask_df_Digital_Music.drop_duplicates(subset = (["User"]))
dask_df_Digital_Music=dask_df_Digital_Music.astype('object')
dask_df_Digital_Music.head()

             User Digital_Music
0   AC2PL52NKPL29             1
1  A1SUZXBDZSDQ3A             1
2  A3A0W7FZXM0IZW             1
3  A12R54MKO17TW0             1
4  A25ZT87OMIPLNX             1

In [ ]:
dask_df_Software = dd.read_csv(root_dir+'/Software.csv')
dask_df_Software.columns=['Item','User','Rating','Timestamp']
dask_df_Software['Software']=1
dask_df_Software=dask_df_Software.drop(columns=['Item','Rating','Timestamp'])
dask_df_Software=dask_df_Software.drop_duplicates(subset = (["User"]))
#dask_df_Software=dask_df_Software.astype('object')
dask_df_Software.head()

             User  Software
0  A1YCCU0YRLS0FE         1
1  A1BJHRQDYVAY2J         1
2   APRDVZ6QBIQXT         1
3  A2JZTTBSLS1QXV         1
4   AGN3T5ERYJN5A         1

In [ ]:
dask_df_all= dd.merge(dask_df_ToysandGames, dask_df_VideoGames, how="outer", on=["User"])
dask_df_all= dd.merge(dask_df_all, dask_df_ToolsandHomeImprovement, how="outer", on=["User"])
dask_df_all= dd.merge(dask_df_all, dask_df_Digital_Music, how="outer", on=["User"])
dask_df_all= dd.merge(dask_df_all, dask_df_Software, how="outer", on=["User"])
dask_df_all=dask_df_all.fillna(0)

In [ ]:
dask_df_all.head(20)

,User,ToysandGames,VideoGames,ToolsandHomeImprovement,Software
0,A4BCEVVZ4Y3V3,1.0,0.0,0.0,0.0
1,A2EZ9PY1IHHBX0,1.0,1.0,0.0,0.0
2,A139PXTTC2LGHZ,1.0,0.0,0.0,0.0
3,A3IB33V29XIL8O,1.0,1.0,1.0,0.0
4,A1J86V48S4KRJE,1.0,1.0,0.0,0.0
5,A14J12PRBLGHF4,1.0,0.0,0.0,0.0
6,A2UKOWP9ICU416,1.0,0.0,0.0,0.0
7,A2ONKKDETRWT79,1.0,1.0,1.0,0.0
8,AK9GN9KZZNTEP,1.0,1.0,1.0,0.0
9,A26HO01PDWN6O5,1.0,0.0,1.0,0.0
10,A8PF4X87CS3ZZ,1.0,0.0,0.0,0.0
11,A28QGCUNS22JPH,1.0,0.0,0.0,0.0
12,A2X2RJWNAV4FM0,1.0,0.0,1.0,0.0
13,A1DIRJ8YNI5TKL,1.0,0.0,1.0,0.0
14,A2G5IDD919P2DK,1.0,0.0,0.0,0.0
15,AGCAAWP1AVVZR,1.0,0.0,0.0,0.0
16,AD2CIUI4TSVY7,1.0,0.0,0.0,0.0
17,APTEPFKL03QA0,1.0,0.0,0.0,0.0
18,A14FXEKB1PXTZG,1.0,1.0,0.0,0.0
19,A1X9QQFMPGDW70,1.0,0.0,0.0,0.0

In [ ]:
len(dask_df_all)

9645481

In [ ]:
%pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     || 1.3 MB 13.4 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.1.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.19.0

In [ ]:
#FP growth algorithm
#Importing Libraries
from mlxtend.frequent_patterns import fpgrowth

#running the fpgrowth algorithm
dask_df_all_WUser=dask_df_all.drop(columns=["User"])
res=fpgrowth(dask_df_all_WUser.compute(),min_support=0.01, use_colnames=True)

# printing top 10
res.head(10)

    support                                           itemsets
0  0.435955                                     (ToysandGames)
1  0.159724                                       (VideoGames)
2  0.087126                                    (Digital_Music)
3  0.487691                          (ToolsandHomeImprovement)
4  0.038893                                         (Software)
5  0.103211            (ToysandGames, ToolsandHomeImprovement)
6  0.037022                         (VideoGames, ToysandGames)
7  0.034376              (VideoGames, ToolsandHomeImprovement)
8  0.016134  (VideoGames, ToysandGames, ToolsandHomeImprove...
9  0.017068                      (ToysandGames, Digital_Music)

In [ ]:
#Association rules
# importing required module
from mlxtend.frequent_patterns import association_rules

# creating asssociation rules
res=association_rules(res, metric="lift", min_threshold=0.8)

# printing association rules
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(VideoGames, ToysandGames)",(ToolsandHomeImprovement),0.037022,0.487691,0.016134,0.435787,0.893572,-0.001922,0.908006
1,"(VideoGames, ToolsandHomeImprovement)",(ToysandGames),0.034376,0.435955,0.016134,0.469341,1.076582,0.001148,1.062915
2,"(ToysandGames, ToolsandHomeImprovement)",(VideoGames),0.103211,0.159724,0.016134,0.156319,0.978683,-0.000351,0.995964
3,(VideoGames),"(ToysandGames, ToolsandHomeImprovement)",0.159724,0.103211,0.016134,0.101011,0.978683,-0.000351,0.997553
4,(ToysandGames),"(VideoGames, ToolsandHomeImprovement)",0.435955,0.034376,0.016134,0.037008,1.076582,0.001148,1.002734
5,(ToolsandHomeImprovement),"(VideoGames, ToysandGames)",0.487691,0.037022,0.016134,0.033082,0.893572,-0.001922,0.995925

In [ ]:
res.sort_values("confidence",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,"(VideoGames, ToolsandHomeImprovement)",(ToysandGames),0.034376,0.435955,0.016134,0.469341,1.076582,0.001148,1.062915
0,"(VideoGames, ToysandGames)",(ToolsandHomeImprovement),0.037022,0.487691,0.016134,0.435787,0.893572,-0.001922,0.908006
2,"(ToysandGames, ToolsandHomeImprovement)",(VideoGames),0.103211,0.159724,0.016134,0.156319,0.978683,-0.000351,0.995964
3,(VideoGames),"(ToysandGames, ToolsandHomeImprovement)",0.159724,0.103211,0.016134,0.101011,0.978683,-0.000351,0.997553
4,(ToysandGames),"(VideoGames, ToolsandHomeImprovement)",0.435955,0.034376,0.016134,0.037008,1.076582,0.001148,1.002734
5,(ToolsandHomeImprovement),"(VideoGames, ToysandGames)",0.487691,0.037022,0.016134,0.033082,0.893572,-0.001922,0.995925

In [ ]:
dask_df_VideoGames = dd.read_csv(root_dir+'/Video_Games.csv')
dask_df_VideoGames.columns=['Item','User','Rating','Timestamp']
dask_df_VideoGames['VideoGames']=1
dask_df_VideoGames=dask_df_VideoGames.drop(columns=['Item','Rating','Timestamp'])
dask_df_VideoGames=dask_df_VideoGames.drop_duplicates(subset = ["User"])
dask_df_VideoGames.head()

             User  VideoGames
0  A3TNZ2Q5E7HTHD           1
1  A1OKRM3QFEATQO           1
2  A2XO1JFCNEYV3T           1
3  A19WLPIRHD15TH           1
4  A1TLA7XXSZMTS7           1

In [ ]:
dask_df_CDsandVinyl = dd.read_csv(root_dir+'/CDs_and_Vinyl.csv')
dask_df_CDsandVinyl.columns=['Item','User','Rating','Timestamp']
dask_df_CDsandVinyl['CDsandVinyl']=1
dask_df_CDsandVinyl=dask_df_CDsandVinyl.drop(columns=['Item','Rating','Timestamp'])
dask_df_CDsandVinyl=dask_df_CDsandVinyl.drop_duplicates(subset = ["User"])
dask_df_CDsandVinyl.head()

             User  CDsandVinyl
0  A1H1DL4K669VQ9            1
1  A23WIHT5886G36            1
2  A3SZNOJP8OL26X            1
3  A3V5XBBT7OZG5G            1
4  A3SNL7UJY7GWBI            1

In [ ]:
dask_df_Appliances = dd.read_csv(root_dir+'/Appliances.csv')
dask_df_Appliances.columns=['Item','User','Rating','Timestamp']
dask_df_Appliances['Appliances']=1
dask_df_Appliances=dask_df_Appliances.drop(columns=['Item','Rating','Timestamp'])
dask_df_Appliances=dask_df_Appliances.drop_duplicates(subset = ["User"])
dask_df_Appliances.head()

             User  Appliances
0  A3SK6VNBQDNBJE           1
1  A3SOFHUR27FO3K           1
2  A1HOG1PYCAE157           1
3  A26JGAM6GZMM4V           1
4  A17K8WANMYHTX2           1

In [ ]:
dask_df_KindleStore = dd.read_csv(root_dir+'/Kindle_Store.csv')
dask_df_KindleStore.columns=['Item','User','Rating','Timestamp']
dask_df_KindleStore['KindleStore']=1
dask_df_KindleStore=dask_df_KindleStore.drop(columns=['Item','Rating','Timestamp'])
dask_df_KindleStore=dask_df_KindleStore.drop_duplicates(subset = ["User"])
dask_df_KindleStore.head()

             User  KindleStore
0   A8P5DK8LLOYGH            1
1  A3OM9W7DXSUIIY            1
2  A3DPAR2PWB9BT8            1
3  A2ONTBSAX7GIOV            1
4  A2PRJSH8RLRB46            1

In [ ]:
dask_df_IndustrialandScientific = dd.read_csv(root_dir+'/Industrial_and_Scientific.csv')
dask_df_IndustrialandScientific.columns=['Item','User','Rating','Timestamp']
dask_df_IndustrialandScientific['IndustrialandScientific']=1
dask_df_IndustrialandScientific=dask_df_IndustrialandScientific.drop(columns=['Item','Rating','Timestamp'])
dask_df_IndustrialandScientific=dask_df_IndustrialandScientific.drop_duplicates(subset = ["User"])
dask_df_IndustrialandScientific.head()

             User  IndustrialandScientific
0   AT6HRPPYOPHMB                        1
1   A4IX7B38LIN1E                        1
2  A12Q4LR8N17AOZ                        1
3  A1GJXZZPOZ3OD9                        1
4   AAHQWAS1NA6AX                        1

In [ ]:
dask_df_all= dd.merge(dask_df_CDsandVinyl, dask_df_VideoGames, how="outer", on=["User"])
dask_df_all= dd.merge(dask_df_all, dask_df_Appliances, how="outer", on=["User"])
dask_df_all= dd.merge(dask_df_all, dask_df_KindleStore, how="outer", on=["User"])
dask_df_all= dd.merge(dask_df_all, dask_df_IndustrialandScientific, how="outer", on=["User"])
dask_df_all=dask_df_all.fillna(0)

In [ ]:
len(dask_df_all)

6827954

In [ ]:
#FP growth algorithm
#Importing Libraries
from mlxtend.frequent_patterns import fpgrowth

#running the fpgrowth algorithm
dask_df_all_WUser=dask_df_all.drop(columns=["User"])
res=fpgrowth(dask_df_all_WUser.compute(),min_support=0.01, use_colnames=True)

# printing top 10
res.head(10)

    support                                itemsets
0  0.284758                           (CDsandVinyl)
1  0.182504               (IndustrialandScientific)
2  0.352853                           (KindleStore)
3  0.225634                            (VideoGames)
4  0.075520                            (Appliances)
5  0.023727              (CDsandVinyl, KindleStore)
6  0.016692  (CDsandVinyl, IndustrialandScientific)
7  0.017513   (VideoGames, IndustrialandScientific)
8  0.016106  (IndustrialandScientific, KindleStore)
9  0.020125               (CDsandVinyl, VideoGames)

In [ ]:
#Association rules
# importing required module
from mlxtend.frequent_patterns import association_rules

# creating asssociation rules
res=association_rules(res, metric="lift", min_threshold=0.8)

# printing association rules
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Appliances),(IndustrialandScientific),0.075520,0.182504,0.013435,0.177896,0.97475,-0.000348,0.994395
1,(IndustrialandScientific),(Appliances),0.182504,0.075520,0.013435,0.073614,0.97475,-0.000348,0.997942